<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="selectParinte" value="SELECT * FROM Clienti;"/>
		<add key="selectCopil" value="SELECT * FROM Adrese;"/>
		<add key="tabelParinte" value="Clienti"/>
		<add key="tabelCopil" value="Adrese"/>
		<add key="numeColPK" value="id_client"/>
		<add key="numeColFK" value="id_client"/>
		<add key="stergeCopil" value="DELETE FROM Adrese WHERE id=@id;"/>
		<add key="nrCol" value="8"/>
		<add key="numeCol" value="Strada:;Numar:;Bloc:;Scara:;Apartament:;Oras:;Judet:;Cod Postal:"/>
		<add key="adaugaCopil" value ="INSERT INTO Adrese(id_client) VALUES(@id);"/>
		<add key="coloane" value="strada;numar;bloc;scara;apartament;oras;judet;cod_postal"/>
		<add key="updateCol" value="UPDATE Adrese SET "/>
		<add key ="pk" value="id"/>
	</appSettings>
</configuration>

<!--
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="selectParinte" value="SELECT * FROM Clienti;"/>
		<add key="selectCopil" value="SELECT * FROM Comenzi;"/>
		<add key="tabelParinte" value="Clienti"/>
		<add key="tabelCopil" value="Comenzi"/>
		<add key="numeColPK" value="id_client"/>
		<add key="numeColFK" value="id_client"/>
		<add key="stergeCopil" value="DELETE FROM Comenzi WHERE id_comanda=@id;"/>
		<add key="nrCol" value="5"/>
		<add key="numeCol" value="Adresa livrare:;Cod postal:;Metoda plata:;Stare comanda:;Id voucher:"/>
		<add key="adaugaCopil" value ="INSERT INTO Comenzi(id_client) VALUES(@id);"/>
		<add key="coloane" value="adresa_livrare;cod_postal;metoda_plata;stare_comanda;id_v;"/>
		<add key="updateCol" value="UPDATE Comenzi SET "/>
		<add key ="pk" value="id_comanda"/>
	</appSettings>
</configuration>
-->